@use "../abstract";

#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  //   background-image: url("/assets/background.jpg");
  background-repeat: no-repeat;
  background-position: 90% 90%;
  background-size: cover;
  position: relative;
  padding: 0 50px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
  }

  .title-wrapper {
    text-align: center;
    color: abstract.$white;
  }

  .main-title {
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .sub-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 45px;
  }

  .input-from {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 7.5px 30px;

    input {
      height: 100%;
      width: 80%;
      color: rgba(0, 0, 0, 0.5);
      font-size: 19px;
      margin-right: auto;
    }

    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
      font-size: 19px;
    }

    .web-find-btn {
      background-color: rgba(56, 133, 229, 1);
      height: 100%;
      width: 150px;
      border-radius: 6px;
      font-size: 19px;
      color: rgba(255, 255, 255, 1);
      margin-left: 30px;
    }

    .mobile-find-btn {
      display: none;
    }
  }
}

#important {
  width: 100vw;
  height: 60vh;
  display: flex;

  .section-left {
    width: 50%;
    background-color: rgba(56, 133, 229);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 70px;
    height: 100%;

    .text-wrapper {
      text-align: left;
      color: rgba(255, 255, 255);
      max-width: 520px;

      h1 {
        font-size: 40px;
      }

      p {
        font-size: 18px;
      }
    }
  }

  .section-right {
    width: 50%;

    video {
      height: 100%;
      width: 100%;
      object-fit: fill;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #important .section-left {
    padding: 0 5%;
  }

  #important .section-left .text-wrapper h1 {
    font-size: 30px;
  }

  #important .section-left .text-wrapper p {
    font-size: 15px;
  }
}

// @media screen and (min-width: 768px) and (max-width: 1023px) {
//   .content-wrapper {
//     padding: 0 70px;
//   }

//   .main-title {
//     font-size: 48px;
//   }

//   .sub-title {
//     font-size: 20px;
//   }

//   .input-form {
//     height: 50px;
//     padding: 6px 25px;
//   }

//   .input-form input {
//     font-size: 15px;
//   }

//   .input-form input::placeholder {
//     font-size: 15px;
//   }

//   .input-form .web-find-btn {
//     font-size: 15px;
//     margin-left: 20px;
//     width: 120px;
//   }
// }

// @media screen and (min-width: 375px) and (max-width: 767px) {
//   .main-title {
//     font-size: 35px;
//   }

//   .sub-title {
//     font-size: 18.5px;
//   }

//   .input-form {
//     height: 40px;
//     padding: 6px 19.5px;
//   }

//   .input-form input {
//     font-size: 17.5px;
//   }

//   .input-form input::placeholder {
//     font-size: 17.5px;
//   }

//   .web-find-btn {
//     display: none;
//   }

//   .input-form .web-find-btn {
//     display: none;
//   }

//   .input-form .mobile-find-btn {
//     display: block;
//     width: 18.5px;
//   }
// }

// @media screen and (max-width: 374px) {
//   .main-title {
//     font-size: 30px;
//     margin-bottom: 30px;
//   }

//   .sub-title {
//     font-size: 15px;
//   }

//   .input-form {
//     height: 40px;
//     padding: 6px 17.5px;
//   }

//   .input-form input {
//     font-size: 15px;
//   }

//   .input-form input::placeholder {
//     font-size: 15px;
//   }

//   .input-form .web-find-btn {
//     display: none;
//   }

//   .input-form .mobile-find-btn {
//     display: block;
//     width: 18.5px;
//   }
// }

#why {
  width: 100vw;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;

  .text-wrapper {
    max-width: 900px;
    height: fit-content;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);

    h1 {
      margin-bottom: 50px;
      font-size: 48px;
      font-weight: 400;
    }

    p {
      font-size: 18px;
      line-height: 2;
    }
  }
}

// @media screen and (min-width: 768px) and (max-width: 1023px) {
//   .text-wrapper {
//     max-width: 800px;
//   }

//   .text-wrapper h1 {
//     font-size: 40px;
//   }

//   .text-wrapper p {
//     font-size: 16px;
//   }
// }

// @media screen and (min-width: 375px) and (max-width: 767px) {
//   .text-wrapper {
//     max-width: 650px;
//   }

//   .text-wrapper h1 {
//     font-size: 30px;
//     margin-bottom: 30px;
//   }

//   .text-wrapper p {
//     font-size: 14px;
//   }
// }

// @media screen and (max-width: 374px) {
//   .text-wrapper {
//     max-width: 300px;
//   }

//   .text-wrapper h1 {
//     font-size: 25px;
//     margin-bottom: 20px;
//   }

//   .text-wrapper p {
//     font-size: 12px;
//   }
// }

// @media screen and (min-width: 375px) and (max-width: 767px) {
//   #important {
//     flex-direction: column;
//     align-items: center;
//   }

//   #important .section-left {
//     width: 100%;
//     max-height: 40%;
//     display: flex;
//     justify-content: center;
//     padding: 10%;
//   }

//   #important .section-left .text-wrapper {
//     text-align: center;
//     padding: 5% 0;
//   }

//   #important .section-left .text-wrapper h1 {
//     font-size: 30px;
//   }

//   #important .section-left .text-wrapper p {
//     font-size: 14px;
//   }

//   #important .section-right {
//     width: 100%;
//     height: 50vh;
//   }

//   #important .section-right video {
//     object-fit: cover;
//   }
// }

// @media screen and (max-width: 374px) {
//   #important {
//     flex-direction: column;
//     align-items: center;
//   }

//   #important .section-left {
//     width: 100%;
//     min-height: 50vh;
//     display: flex;
//     justify-content: center;
//     padding: 0 5%;
//   }

//   #important .section-left .text-wrapper {
//     text-align: center;
//   }

//   #important .section-left .text-wrapper h1 {
//     font-size: 25px;
//   }

//   #important .section-left .text-wrapper p {
//     font-size: 12px;
//   }

//   #important .section-right {
//     width: 100%;
//   }
// }

#featured {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 48px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 50px;
  }

  .job-card__wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 560px));
    gap: 25px;
    padding: 0 5%;

    .job-card {
      max-width: 560px;
      height: 330px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      padding: 4%;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .position {
        display: flex;
        align-items: center;
        font-size: 15px;
        margin-bottom: 20px;
        line-height: 1.5;

        .info {
          margin-left: 70px;

          span {
            display: block;
          }

          .job-title {
            color: rgba(79, 86, 96);
          }

          .company-name {
            color: rgba(56, 133, 229);
          }

          .company-location {
            color: rgba(157, 159, 162);
          }

          .company-logo {
            width: 70px;
          }
        }
      }

      p {
        color: rgba(79, 86, 96);
        margin-bottom: 20px;
        line-height: 2;
        width: 100%;
      }

      a {
        color: rgba(56, 133, 229, 1);
        font-weight: 700;
      }
    }
  }
}

// @media screen and (min-width: 768px) and (max-width: 1023px) {
//   #featured h1 {
//     font-size: 40px;
//   }

//   #featured .job-card__wrapper .job-card {
//     padding: 5%;
//   }

//   #featured .job-card__wrapper .job-card .position .info {
//     margin-left: 10%;
//     font-size: 12.5px;
//   }

//   #featured .job-card__wrapper .job-card p {
//     line-height: 1.5;
//     font-size: 13.5px;
//   }

//   #featured .job-card__wrapper .job-card a {
//     font-size: 13.5px;
//   }
// }

// @media screen and (min-width: 375px) and (max-width: 767px) {
//   #featured .job-card__wrapper {
//     grid-template-columns: 1fr;
//     gap: 20px;
//     margin: auto 0;
//   }
// }

#expert {
  width: 100vw;
  min-height: 50vh;
  background-color: rgba(0, 0, 0, 1);
  display: flex;

  .image-wrapper {
    width: 50%;
    height: inherit;
    overflow: hidden;
    position: relative;

    img {
      width: 70%;
      object-fit: cover;
      position: absolute;
      top: -20%;
      left: 20%;
    }
  }

  .text-wrapper {
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;

    p {
      max-width: 600px;
      color: rgba(255, 255, 255, 1);
      text-align: left;
      line-height: 2;
    }
  }
}
