{% extends "base.html" %}
{% block title %} Home {% endblock title %}


{% block body %}
    <section id="home" style="background-image: url('../static/assets/background.jpg')">
        <div class="content-wrapper">
            <div class="title-wrapper">
                <h1 class="main-title">Don't get stuck in a job you hate!</h1>
                <h2 class="sub-title">Do yourself a favor. Let's find a better one now!</h2>
            </div>
            <form action="/search" class="input-form">
                <input type="text" placeholder="Search..." name="keyword" />
                <button class="web-find-btn">Find a job</button>
                <button class="mobile-find-btn"><svg xmlns="http://www.w3.org/2000/svg" fill="rgba(56, 133, 229, 1)" data-name="Camada 1" viewBox="0 0 100 100"><path d="M98.53579,91.46538,71.28155,64.21124a39.89214,39.89214,0,1,0-7.07041,7.07021L91.46548,98.53569a4.99923,4.99923,0,0,0,7.07011,0h.0002A4.99927,4.99927,0,0,0,98.53579,91.46538Zm-58.70831-21.813A29.82626,29.82626,0,1,1,69.65334,39.82657,29.86089,29.86089,0,0,1,39.82748,69.65242Z"/></svg></button>
            </form>
        </div>
    </section>
    <section id="why">
        <div class="text-wrapper">
            <h1>Why you need to change a job now?</h1>
            <p>The interviewer asks many questions at the time of the interview. If you change a job, then the most important question asked by the interviewer is what are the reasons for your job change and one of the common reasons for a job change is career enhancement and higher pay. You may also fill out reasons in the resignation form for changing the job in your current job. Preparing a concise and clear answer will help the employer to know about your future goals.</p>
        </div>
    </section>
    <section id="important">
        <div class="section-left">
            <div class="text-wrapper">
                <h1>How important is it to love what you do?</h1>
                <p>Being happy at work and loving what you do is an overall productivity booster and enhances performance. People who enjoy their jobs are more likely to be optimistic, motivated, learn faster, make fewer mistakes, and better business decisions.</p>
                <a class="outer-link" href="https://appliedpsychologydegree.usc.edu/blog/how-liking-your-job-will-help-you-succeed/">Learn more</a>
            </div>
        </div>
        <div class="section-right">
            <video muted autoplay loop>
                <source src="{{ url_for('static', filename='assets/bg-video.mp4') }}" type="video/mp4">
            </video>
        </div>
    </section>
   
{% endblock body %}