{% extends "base.html" %}
{% block title %} Home {% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock style %}


{% block body %}
    <section id="home">
        <div class="content-wrapper">
            <div class="title-wrapper">
                <h1 class="main-title">Don't get stuck in a job you hate!</h1>
                <h2 class="sub-title">Do yourself a favor. Let's find a better one now!</h2>
            </div>
            <form action="" class="input-form">
                <input type="text" placeholder="Search..." name="keyword" />
                <img src="{{ url_for('static', filename='images/magnifying-glass.svg') }}" alt="Magnifying Glass">
                <button>Find a job</button>
            </form>
        </div>
    </section>
{% endblock body %}