$breakpoints: (
  mobileVertical: (
    max: 374.99px,
  ),
  mobileHorizontal: (
    min: 375px,
    max: 767.99px,
  ),
  tablet: (
    min: 768px,
    max: 1023.99px,
  ),
);

@mixin responsive($device) {
  $breakpoint-values: map-get($breakpoints, $device);

  @if map-has-key($breakpoint-values, min, max) {
    $breakpoint-min: map-get($breakpoint-values, min);
    $breakpoint-max: map-get($breakpoint-values, max);

    @media screen and (min-width: $breakpoint-min) and (max-width: $breakpoint-max) {
      @content;
    }
  } @else if map-has-key($breakpoint-values, max) {
    $breakpoint-max: map-get($breakpoint-values, max);

    @media screen and (max-width: $breakpoint-max) {
      @content;
    }
  }
}
